.h1 {
  margin: 0;
  height: 98px;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 512px 0 504px;
}
.div1,
.frameChild {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}
.div1 {
  border-radius: var(--br-30);
  background-color: var(--color-lightblue);
  width: 1351px;
}
.frameChild {
  max-height: 100%;
  width: 1560px;
  z-index: 2;
}
.parent {
  width: 1396px;
  height: 961px;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 31px;
}
.articleContainerWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 6px 14.7px;
  box-sizing: border-box;
  max-width: 100%;
}
.frameItem,
.top {
  position: relative;
}
.frameItem {
  height: 102px;
  width: 311px;
  border-radius: var(--br-8);
  background-color: var(--color-gainsboro);
  display: none;
}
.top {
  height: 69.2px;
  flex: 1;
  font-size: var(--font-size-36);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.div,
.rectangleParent {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.rectangleParent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-16) 46px 16.8px;
  background-color: var(--color-gainsboro);
  width: 311px;
  border-radius: var(--br-8);
  flex-direction: row;
  align-items: flex-start;
  z-index: 3;
}
.rectangleParent:hover {
  background-color: var(--color-silver);
}
.div {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  padding: 50px 104px 82px;
  gap: 24px;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-48);
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1200px) {
  .wrapper {
    padding-left: 252px;
    padding-right: 256px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .h1 {
    font-size: 38px;
  }
  .top {
    font-size: 29px;
  }
}
@media screen and (max-width: 750px) {
  .div,
  .wrapper {
    padding-left: 126px;
    padding-right: 128px;
    box-sizing: border-box;
  }
  .div {
    padding-left: 52px;
    padding-right: 52px;
  }
}
@media screen and (max-width: 450px) {
  .h1 {
    font-size: 29px;
  }
  .wrapper {
    padding-left: var(--padding-20);
    padding-right: var(--padding-20);
    box-sizing: border-box;
  }
  .top {
    font-size: var(--font-size-22);
  }
  .div,
  .rectangleParent {
    padding-left: var(--padding-20);
    padding-right: var(--padding-20);
    box-sizing: border-box;
  }
}
