.articleChild,
.frameChild {
  position: relative;
  border-radius: var(--br-6);
  display: none;
  max-width: 100%;
}
.frameChild {
  height: 109px;
  width: 750px;
  background-color: var(--color-gainsboro-200);
}
.articleChild {
  align-self: stretch;
  width: 697px;
  background-color: var(--color-gray);
}
.article,
.div {
  flex: 1;
  display: flex;
  justify-content: center;
  max-width: 100%;
}
.div {
  height: 74px;
  position: relative;
  font-size: var(--font-size-36);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  align-items: center;
  z-index: 2;
}
.article {
  cursor: pointer;
  border: 0;
  padding: 0 85px 0.1px;
  background-color: var(--color-gray);
  border-radius: var(--br-6);
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  z-index: 1;
}
.article:hover {
  background-color: var(--color-gainsboro-100);
}
.frameInner,
.frameItem,
.rectangleParent {
  background-color: var(--color-gainsboro-200);
  max-width: 100%;
}
.rectangleParent {
  align-self: stretch;
  border-radius: var(--br-6);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16.9px var(--padding-26) var(--padding-18) 27px;
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
}
.frameInner,
.frameItem {
  height: 697px;
  width: 750px;
  position: relative;
  border-radius: var(--br-12);
  display: none;
}
.frameInner {
  height: 653px;
  width: 697px;
  background-color: var(--color-white);
}
.div1,
.rectangleContainer {
  flex: 1;
  display: flex;
  max-width: 100%;
}
.div1 {
  height: 262.6px;
  position: relative;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.rectangleContainer {
  border-radius: var(--br-12);
  background-color: var(--color-white);
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 193px 187px 197.4px;
  box-sizing: border-box;
  z-index: 1;
}
.rectangleDiv,
.rectangleGroup {
  background-color: var(--color-gainsboro-200);
  max-width: 100%;
}
.rectangleGroup {
  align-self: stretch;
  border-radius: var(--br-12);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 21px var(--padding-26) 23px 27px;
  box-sizing: border-box;
}
.rectangleDiv {
  height: 98px;
  width: 416px;
  position: relative;
  border-radius: var(--br-8);
  display: none;
}
.div2 {
  height: 66.5px;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.frameChild1,
.groupDiv {
  border-radius: var(--br-8);
  background-color: var(--color-gainsboro-200);
}
.groupDiv {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-16) 62px 15.5px;
  box-sizing: border-box;
  min-width: 270px;
  max-width: 100%;
  cursor: pointer;
}
.frameChild1 {
  height: 102px;
  width: 311px;
  position: relative;
  display: none;
}
.top {
  height: 69.2px;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.rectangleParent1 {
  border-radius: var(--br-8);
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-16) 46px 16.8px;
  box-sizing: border-box;
  min-width: 311px;
  cursor: pointer;
}
.actions,
.articleDetails {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.actions {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  gap: 23px;
}
.articleDetails {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 21px;
  min-width: 487px;
  text-align: center;
  font-size: var(--font-size-36);
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1050px) {
  .div1,
  .div2,
  .top {
    font-size: 29px;
  }
}
@media screen and (max-width: 750px) {
  .article {
    padding-left: var(--padding-20);
    padding-right: var(--padding-20);
    box-sizing: border-box;
  }
  .div1 {
    font-size: var(--font-size-22);
  }
  .rectangleContainer {
    padding-left: var(--padding-20);
    padding-right: var(--padding-20);
    box-sizing: border-box;
  }
  .div2,
  .top {
    font-size: var(--font-size-22);
  }
  .rectangleParent1 {
    flex: 1;
  }
}
@media screen and (max-width: 450px) {
  .rectangleContainer {
    padding: 125px 93px 128px;
    box-sizing: border-box;
  }
  .rectangleGroup {
    padding-top: var(--padding-20);
    padding-bottom: var(--padding-20);
    box-sizing: border-box;
  }
  .groupDiv,
  .rectangleParent1 {
    padding-left: var(--padding-20);
    padding-right: var(--padding-20);
    box-sizing: border-box;
  }
  .actions {
    flex-wrap: wrap;
  }
  .articleDetails {
    min-width: 100%;
  }
}
