.frameChild,
.h2 {
  position: relative;
}
.frameChild {
  width: 418px;
  height: 538px;
  border-radius: var(--br-36);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.h2 {
  margin: 0;
  flex: 1;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  white-space: nowrap;
  z-index: 1;
}
.profileDetails {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-24) 0 25px;
}
.profileContainerChild {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-mediumorchid);
  z-index: 1;
}
.profileContainer,
.profileContainerWrapper {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.profileContainerWrapper {
  flex-direction: row;
  align-items: flex-start;
  padding: 0 53px 0 52px;
}
.frameItem,
.rectangleParent {
  align-self: stretch;
  border-radius: var(--br-36);
}
.frameItem {
  height: 165px;
  position: relative;
  background-color: var(--color-white);
  z-index: 1;
}
.rectangleParent {
  width: 418px;
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 23px 34px 35px;
  gap: 19.5px;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-32);
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1200px) {
  .rectangleParent {
    flex: 1;
  }
}
@media screen and (max-width: 1050px) {
  .h2 {
    font-size: var(--font-size-26);
  }
}
@media screen and (max-width: 750px) {
  .rectangleParent {
    padding-top: var(--padding-20);
    padding-bottom: 23px;
    box-sizing: border-box;
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .h2 {
    font-size: var(--font-size-19);
  }
  .profileContainerWrapper {
    padding-left: var(--padding-20);
    padding-right: var(--padding-20);
    box-sizing: border-box;
  }
}
