#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    -webkit-will-change: filter;

    -webkit-transition: filter 300ms;
    -moz-transition: filter 300ms;
    transition: filter 300ms;
}

.logo:hover {
    -webkit-filter: drop-shadow(0 0 2em #646cffaa);
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    -webkit-filter: drop-shadow(0 0 2em #61dafbaa);
    filter: drop-shadow(0 0 2em #61dafbaa);
}

/* Webkit用キーフレーム */
@-webkit-keyframes logo-spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* 標準キーフレーム */
@keyframes logo-spin {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        -webkit-animation: logo-spin infinite 20s linear;
        -moz-animation: logo-spin infinite 20s linear;
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}
